a.enlace{
    background: white;
    color: darkcyan;
    padding: 8px;
    border: 0;
    transition-property: all;
    transition-duration: 0.5s;

transition-timing-function: linear;
}
a.enlace:hover{
    background-color: black;
    color: beige;
    padding: 25px;
    border: 1px dotted deeppink; 
}
