.contador {
    font-size: 40px;
    width: 50px;
    height: 40px;
    overflow: hidden;
    animation: contar 2s steps(5) infinite;
}
@keyframes contar{
    from{transform: translate(0);}
    to{transform: translateY(250px);}
}