a.enlace{
    background: white;
    color: darkcyan;
    padding: 8px;
    border: 0;
    transition: all 10s ease;
}
a.enlace:hover{
    background-color: black;
    color: beige;
    padding: 25px;
    border: 1px dotted yellow; 
}