.caja{
    animation: change-color 2s ease;
    width: 80px;
    height: 80px;
    background: plum;
    animation: change-color 2s linear;
}
@keyframes change-color{
    0%{
        background: darkcyan;
    }
    50%{
        background: deeppink;
    }
    100%{
        background: darkslateblue;
    }
}